<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>钱满 Blog-{{page.title}}</title>
    <!-- Bootstrap -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container-center {
        margin:0 auto;
      }
      .container-narrow > hr{
        margin: 50px;
      }
      .posts {
        margin:0 auto;
        max-width: 700px;
      }
      .aboutme{
        width: 150px;
        font-family:Microsoft YaHei;
        color: rgb(130,130,130);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a class="btn btn-info" href="https://twitter.com/fuluchii">
            <i class="icon-user icon-white"></i>
            @fuluchii</a>
          </li>
        </ul>
        <h2 class="muted">Fuluchii's Blog</h3>
      </div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="span8">
                    {{content}}
          </div>
          <div class="span4">
            <div class="well clearfix">
              <img class="img-circle" src="http://www.gravatar.com/avatar/e30d7363af68b03820281f6ade7ba590" />
               <div class="aboutme pull-right">
                <h4>ABOUT ME</h4>
                <p><a src="http://twitter.com/fuluchii">fuluchii@twitter</a></p>
                <p>福禄钱恩@weibo</p>
                <p>fuluchii@github</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <footer class="muted">    
        <address>
          &copy; Fuluchii.Zhao 2012<br>
          mail to :<a href="mailto:#">chainyzhao@gmail.com</a><br>
          github :<a href="http://github.com/fuluchii">fuluchii</a>
        </address>
    </footer>
    </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36036482-1']);
  _gaq.push(['_setDomainName', 'fuluchii.me']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>