<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>建筑我心-{{page.title}}</title>
    <!-- Bootstrap -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/12.css" media = "screen"/>
    <link rel="stylesheet" href="../stylesheets/reset.css" media="screen"/>
    <link rel="stylesheet" href="../stylesheets/text.css" media="screen"/>
    <link rel="stylesheet" href="../stylesheets/blog.css" media="screen"/>
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
    <link rel="stylesheet" href="../stylesheets/pygments.css" media="screen">

  </head>
  <body>
  	<div class="container_12 all">
  		<nav class="container_12 headbar">
  			<div class="grid_3 ">
  			&nbsp;
  			</div>
  			<div class="grid_5">
  		  	<a href="/" class="title">建筑我心</a>

  			<small>建筑，我心。</small>
  			</div>
  			
  			<div class="grid_4 nav">
  			<ul class="nav_ul">
  			<a class="more" href="/about.html">About Me</a>
  			</ul>

  			</div>
  		</nav>
  		<div class="clear"></div>
  		<div class="grid_3">
  			&nbsp;
  		</div>
  		<div class="grid_6 push_4 content">
  			{{content}}
  		</div>
  		<div class="grid_3">
  			&nbsp;
  		</div>
  		
  		<div class="clear"></div>
  		
  	</div>
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36036482-1']);
	  _gaq.push(['_setDomainName', 'fuluchii.me']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
  </body>

</html>
