---
layout: default
---

<div class="post">
	<ul class="breadcrumb">
  		<li><a href="/">Home</a> <span class="divider">/</span></li>
 		 <li><a href="/{{page.category}}">{{page.category}}	</a> <span class="divider">/</span></li>
  		<li class="active">{{page.title}}</li>
	</ul>
	<div class="well">
		<h3>{{page.title}}</h3>
		<span><strong>author:</strong>{{page.author}}</span>
		<span><strong>date:</strong>{{page.date}}</span>
		<br>
		<div class="share"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<script type="text/javascript" charset="utf-8">
				(function(){
		  			var _w = 72 , _h = 16;
		  			var param = {
				    url:location.href,
				    type:'3',
				    count:'1', /**是否显示分享数，1显示(可选)*/
				    appkey:'2424264567', /**您申请的应用appkey,显示分享来源(可选)*/
				    title:'分享自钱满的blog：{{page.title}}', /**分享的文字内容(可选，默认为所在页面的title)*/
					language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
				    rnd:new Date().valueOf()
		  		}
		  		var temp = [];
				  for( var p in param ){
				    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
				  }
				  document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
				})()
		</script>
		</div>
	</div>
	<div class="content">
		{{content}}
	</div>
</div>
