---
layout: default
---

<div class="post">
	<ul class="breadcrumb">
  		<li><a href="/">Home</a> <span class="divider">/</span></li>
 		 <li><a href="/{{page.categories}}">Library</a> <span class="divider">/</span></li>
  		<li class="active">{{page.title}}</li>
	</ul>
	<div class="well">
		<h3>{{page.title}}</h3>
		<span><span class="bold">author:</span>{{page.author}}</span>
		<span><span class="bold">date:</span>{{page.date}}</span>
	</div>
	<div class="content">
		{{content}}
	</div>
</div>